.still{
  color: #fff;
  min-height: 500px;

  background-size: cover;
  background-position: center center;

  margin-bottom: $space;

  position: relative;

  z-index: 0;

  .entry-title{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;

    z-index: 2;
  }

  &:after{
    content: " ";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0,0,0,0.4);
    
    z-index: 1;
  }
}