$font__main: "adobe-caslon-pro", "Adobe Caslon Pro", "Caslon", "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
$font__headings: "acumin-pro-extra-condensed", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;